/* ## MAINBAR */
.container-menu {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  width: var(--width_mainbar);
  border-right: 1px solid var(--cl_border);
  z-index: 999;
}

.header-bar {
  height: 64px;
  padding: 0 1.6rem;
}

.logo {
  width: 4.8rem;
  height: 2.4rem;
}

.package {
  color: var(--cl_icon);
  text-transform: uppercase;
  text-decoration: none;
  padding: 3px 14px;
}

.package:hover {
  border: 1px solid var(--cl_hover);
  color: var(--cl_hover);
  cursor: pointer;
}

.wrapper-form {
  width: inherit;
  height: 56px;
  background-color: rgba(244, 246, 248, 0.02);
  padding-left: 16px;
}

.wrapper-form span:hover {
  color: var(--cl_hover);
}

.setting-icon {
  margin-left: 25px;
  color: var(--cl_icon);
  opacity: .7;
  font-size: 1.6rem !important;
}

.setting-icon:hover {
  color: var(--cl_hover);
}

.item-menu {
  padding: 4px 0;
  padding-left: 1.6rem;
  margin-bottom: 0.6rem;
  cursor: pointer;
  position: relative;
}

.item-menu:hover .border-hover {
  background: linear-gradient(to right, #2daaed 0%, #2daaed 100%);
  border-radius: 5px;
  position: absolute;
  left: 0;
  height: 100%;
  animation: scaleBorder 0.3s ease;
}

.item-menu .border-hover {
  background: linear-gradient(to right, #2daaed 0%, #2daaed 100%);
  border-radius: 5px;
  position: absolute;
  left: 0;
  animation: noneScale 0.3s ease;
}

.border-menu {
  height: 100%;
  background: linear-gradient(to right, #2daaed 0%, #2daaed 100%);
  border-radius: 5px;
  position: absolute;
  left: 0;
}

.heart-icon {
  color: #27B3E2;
  font-size: 2.4rem !important;
}

.chart-icon {
  color: #FFB353;
  font-size: 2.4rem !important;
}

.listen-icon {
  color: #DF22F2;
  font-size: 2.4rem !important;
}

.discover-icon {
  color: #FF9B2D;
  font-size: 2.4rem !important;
}

.search-icon {
  color: #00b509;
  font-size: 2.4rem !important;
}

.home-icon {
  color: #29D7FF;
  font-size: 2.5rem !important;
}

.label-menu {
  padding-left: 1rem;
}

.arrow-up {
  font-size: 2.2rem !important;
  margin-left: 12px;
  transition: transform .3s !important;
}

.rotate-arrow {
  transform: rotate(180deg);
}

.childrens-item-menu {
  color: var(--cl_icon);
  font-weight: 100;
  cursor: pointer;
  height: 0px;
  transition: height 0.5s ease;
}

.show-childs-second {
  height: 11.5rem;
}

.show-childs-third {
  height: 8.5rem;
}

.children-item {
  padding: 4px 0 4px 5rem;
  position: relative;
}

.doc-symbol {
  opacity: 0;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background: var(--cl_hover);
  margin-right: 1rem;
}

.children-item:hover .doc-symbol {
  opacity: 1;
}

/* CHAT BOX */
.chat-bot {
  position: fixed;
  bottom: 16px;
  left: 16px;
  z-index: 7;
  width: 6rem;
  height: 4.8rem;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('./assets/images/bot-chat.png');
}

/* FORM SUBMIT */
.login-form {
  background-color: rgba(24, 34, 45, 1);
  border-radius: 4px;
  position: relative;
  letter-spacing: 0.5px;
  width: 48rem;
}

.header-form {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.8rem 0;
  border-bottom: 1px solid var(--cl_border);
  width: 100%;
}

.form-submit {
  padding-top: 2rem;
}

.input-default {
  border-radius: 4px;
  border: 1px solid var(--cl_border);
  background-color: rgb(0, 0, 0, .02);
  color: rgba(244, 246, 248, 0.88);
  margin: 4px 0;
}

.input-default:focus-within {
  border: 1px solid var(--cl_hover);
}

.wrapper-icon {
  width: 4rem;
  border-right: 1px solid var(--cl_border);
}

.close-icon {
  font-size: 2.5rem !important;
  position: absolute;
  right: 2rem;
}

.wrapper-validate {
  margin-right: 1rem;
  position: relative;
  font-size: 1.3rem;
  font-weight: 100;
}

.icon-form {
  color: var(--cl_blur);
  font-size: 2.3rem !important;
}

.description-validate {
  display: none;
  position: absolute;
  bottom: 145%;
  right: -2rem;
  width: 30rem;
  padding: 8px 16px;
  border-radius: 4px;
  background: var(--cl_hover);
}

.description-validate::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 2.6rem;
  border-top: 8px solid #2DAAED;
  border-left: 5px solid transparent;
  border-bottom-width: 0;
  border-right: 5px solid transparent;
}

.icon-description {
  color: var(--cl_blur);
  font-size: 2.1rem !important;
}

.wrapper-validate:hover .description-validate {
  display: block;
}

.wrapper-validate:hover .icon-description {
  color: var(--cl_hover);
}

.input {
  outline: none;
  border: none;
  background: transparent;
  padding: 1rem;
  width: 100%;
  color: rgba(244, 246, 248, 0.88);
}

.wrapper-checkbox {
  width: max-content;
  margin-top: 1.2rem;
}

.checkbox-input {
  width: auto;
  background: transparent;
  border: 1px solid var(--cl_border);
  margin-right: 1rem;
}

.text-remember {
  font-size: 1.3rem;
  font-weight: 100;
}

input::placeholder {
  color: var(--cl_icon);
}

.default-button {
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to right, #2F80ED, #00AEEF);
  padding: 1rem 0;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 2.5rem 0;
  cursor: pointer;
}

.social-login {
  background-color: rgba(244, 246, 248, 0.02);
  padding: 2rem 0;
  width: 100%;
  font-size: 1.4rem;
  line-height: 20px;
}

.social-icon {
  width: 5rem !important;
  height: 5rem !important;
  padding: 1rem;
  background-color: var(--cl_border);
  border: beige;
  border-radius: 50%;
  margin-left: 1rem;
}

.footer-login {
  padding: 3rem 0;
  line-height: 16px;
  font-size: 1.4rem;
  font-weight: 100;
}

.switch-form {
  color: var(--cl_hover);
  margin-left: 3px;
}

.switch-form:hover {
  text-decoration: underline;
}

/* FORM REGISTER */
.text-term {
  font-size: 1.3rem;
  font-weight: 100;
}

.text-agree {
  color: var(--cl_hover);
  text-transform: uppercase;
  text-decoration: none;
}

.text-agree:hover {
  text-decoration: underline;
}

/* NOTIFICATIONS */
.show-notify {
  width: 100%;
  padding: 1rem 0;
  background: #F44336;
  border-radius: 4px;
  position: absolute;
  left: 0;
  animation: bounceIn 0.3s ease-in-out;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}

/* ##SUB-BAR */
.container-subbar {
  position: fixed;
  height: 100vh;
  right: 0;
  top: 0;
  width: var(--width_subbar);
  border-left: 1px solid var(--cl_border);
  z-index: 100;
  background: rgba(255, 255, 255, 0.02);
  padding: 2.4rem;
}

.subbar-mini {
  display: none;
}

.header-subbar {
  width: 24rem;
  text-align: center;
  color: var(--cl_text);
}

.header-subbar span {
  font-size: 14px;
  line-height: 18px;
  margin-top: 4rem;
  padding: 0 1rem 2.4rem 1rem;
}

.music-4u {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgb(0 0 0 / 20%);
}

.btn-subbar {
  border: 1px solid var(--cl_border);
  border-radius: 1.6rem;
  background: transparent;
  color: var(--cl_icon);
  padding: .8rem 3.7rem;
  width: fit-content;
}


.btn-subbar:hover {
  border: 1px solid var(--cl_hover);
  color: var(--cl_hover);
}

.footer-subbar img {
  border-radius: 0.4rem;
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
}

.content-footer-subbar {
  margin-left: 1rem;
  color: var(--cl_icon);
}

/* MAIN FOOTER */
.main-footer {
  border-top: 1px solid var(--cl_border);
}

.header-footer {
  padding: 0 3.2rem;
  border-bottom: 2px solid var(--cl_border);
}

.link-footer li {
  list-style-type: none;
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 2px solid var(--cl_border);
  font-size: 1.2rem;
}

.link-footer li:last-child {
  border-right: 0;
}

.link-footer li a {
  color: var(--cl_icon);
}

.link-footer li a:hover {
  color: var(--cl_hover);
}

.icon-fb,
.icon-ins {
  font-size: 3rem !important;
  color: var(--cl_icon);
  margin-right: 1rem;
}

.icon-fb:hover {
  color: var(--cl_hover);
}

.icon-ins:hover {
  color: #ff543e;
}

.logo-footer {
  height: 24px;
  margin: 5px;
}

.content-footer {
  padding: 0 3.2rem;
  margin-top: 2rem;
  color: var(--cl_icon);
}

.final-text {
  padding: 1.5rem 3rem;
  background: var(--bg_input);
  color: var(--cl_icon);
}

.address-icon {
  margin-right: 0.8rem;
  font-size: 2.4rem !important;
}

/* SEARCH PAGE */
.container-search {
  padding-bottom: 8rem;
}

.header-search {
  border: 1px solid var(--cl_border);
  padding: 1rem 3.2rem;
}

.wrapper-search {
  border: 1px solid var(--cl_border);
  border-radius: 4px;
  height: 4rem;
  width: 50%;
  background: var(--bg_input);
}

.header-search-icon {
  position: absolute;
  left: 1rem;
  font-size: 2.2rem !important;
  color: var(--cl_icon);
}

.input-search {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding-left: 4rem;
  font-size: 1.5rem;
  color: white;
  border-radius: inherit;
}

.input-search:focus {
  border: 1px solid var(--cl_hover);
}

.wrapper-slide {
  position: relative;
  width: calc(40% - 1.5rem);
}

.trending-artist {
  display: none;
}

.wrapper-slide:hover .trending-artist {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  background-color: var(--cl_primary);
  color: var(--cl_icon);
  font-weight: 0;
}

.mySwiper {
  padding: 0 2rem;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  height: 4rem;
  border-radius: 2rem;
  border: 1px solid var(--cl_border);
}

.header-swiper {
  height: 34px;
  width: 100%;
  color: var(--cl_icon);
  background-color: var(--bg_input);
  border-radius: inherit;
  font-weight: 700;
  font-size: 1.45rem;
  letter-spacing: .5px;
}

.wrapper-content {
  padding: 0.6rem 1rem;
}

.btn-seemore {
  padding: .8rem 0;
  border-top: 1px solid var(--cl_border);
}

.wrapper-content:hover,
.btn-seemore:hover {
  background-color: var(--cl_border);
  cursor: pointer;
  color: var(--cl_hover);
}

.key-search {
  padding: var(--title_comp);
}

.wrapper-hashtag {
  flex-wrap: wrap;
}

.hashtag {
  margin: 1rem 2rem 0 0;
  background: var(--cl_border);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 6px 12px 5px;
  position: relative;
  color: var(--cl_icon);
}

.hashtag::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1rem;
  border-left: 10px solid var(--cl_border);
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.hashtag:hover span {
  color: var(--cl_hover);
  cursor: pointer;
}

.title-hashtag {
  color: var(--cl_hover);
  margin-right: 1rem;
}

.wrapper-can-hit {
  background: var(--bg_input);
  color: var(--cl_icon);
  padding: var(--title_comp);
  padding-bottom: 3rem;
}

.song-can-hit {
  width: 16rem;
  height: 16rem;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
}

.card-spring {
  width: 100%;
}

.box-second {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.overflow-black {
  background: rgba(0, 0, 0, 0.5);
  border-radius: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
}

.box-second:hover .overflow-black {
  z-index: 10;
}

.box-second:hover .image-hit {
  transform: scale(1.1);
}

/* 
.box-active:hover .overflow-black {
  z-index: 10;
}

.box-active:hover .image-hit {
  transform: scale(1.1);
} */

.image-hit {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  z-index: 1;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.special {
  position: absolute;
  z-index: 10;
  top: -1rem;
  left: -2px;
  background: #F44336;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  color: white;
  font-size: 1.2rem;
  padding: .2rem 1rem;
}

.time-card {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  height: 16px;
  line-height: 16px;
  padding-left: 14px;
  padding-right: 2px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.88);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

.icon-play:hover {
  transform: scale(1.2);
}

.icon-play {
  position: absolute;
  z-index: 100;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.801);
  background: rgba(255, 255, 255, 0.88);
  transition: transform 0.3s ease-in-out !important;
  font-size: 1.8rem;
  padding: 8px 10px;
  display: none !important;
}

.icon-play-release {
  font-size: 1.2rem;
}

.icon-more {
  font-size: 2.5rem !important;
  display: none !important;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  color: white;
}

.box-second:hover .icon-play {
  display: block !important;
}

.box-second:hover .icon-more {
  display: block !important;
}

.wrapper-options {
  position: absolute;
  left: 100%;
  top: 0;
  background: rgb(24, 34, 45);
  width: max-content;
  border-radius: 4px;
}

.option-minibar {
  position: absolute;
  left: 0%;
  bottom: 50%;
  z-index: 100;
  background: rgb(24, 34, 45);
  width: max-content;
  border-radius: 4px;
}

.option-chart {
  position: absolute;
  right: 6rem;
  top: 1rem;
  z-index: 100;
  background: rgb(24, 34, 45);
  width: max-content;
  border-radius: 4px;
}

.bg-second-option {
  position: absolute;
  inset: 0;
  padding: 0px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: -1;
}

.option {
  padding: 0.7rem 1rem;
}

.option:hover {
  background: var(--bg_input);
  cursor: pointer;
}

.option span {
  margin-left: 1rem;
  color: var(--cl_text);
}

.icon-options {
  font-size: 1.8rem !important;
}

.content-can-hit {
  margin: 3rem 0 0 4rem;
}

.song-hit {
  color: white;
  font-size: 1.5rem;
}

.realease-date {
  margin-left: 5px;
}

.artist-img {
  position: relative;
  width: 24px !important;
  height: 24px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://avatar-ex-swe.nixcdn.com/singer/avatar/2022/09/06/8/9/f/3/1662436842575_300.jpg);
  z-index: 1;
  margin: 1rem 0;
  margin-right: 1rem;
}

.artist-name {
  color: var(--cl_icon);
}

.artist-name:hover {
  color: var(--cl_hover);
}

/* HOMEPAGE */
.swrapper-banner {
  padding: 1rem 1rem 0 1.5rem;
  position: relative;
}

.swiper-banner {
  width: 100%;
  height: calc(calc(100vw - (var(--width_mainbar) + var(--width_subbar))) * 2 / 5 + 3rem);
  border-radius: 4px;
}

.icons-banner {
  position: absolute;
  inset: 0;
  top: 27%;
  width: 100%;
  height: 10rem;
  z-index: 10;
  padding: 0 2rem;
  display: none;
}

.swrapper-banner:hover .icons-banner {
  display: flex;
}

.icons-banner button {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 2rem 1rem;
}

.icon-banner {
  color: white;
  font-size: 3.2rem !important;
  line-height: 2rem !important;
}

.swiper-banner img {
  border-radius: 4px;
  width: calc(100% - 16px);
  max-height: 85%;
}

.swiper-item-banner {
  align-items: flex-start;
  justify-content: flex-end;
}

.active-banner {
  transform: translate3d(16px, 0, 0) !important;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  background: var(--cl_icon);
  width: 6px;
  height: 6px;
}

.swiper-pagination-bullet-active {
  background: var(--cl_hover);
  animation: scaleBullet 0.3s ease-in-out;
  width: 1.6rem;
  border-radius: 4px;
}

.welcome-spring {
  padding: var(--title_comp);
  text-transform: capitalize;
}

.wrapper-cards {
  width: 100%;
  height: 19rem;
}

.name-song {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--cl_text);
}

.banner-release {
  background: var(--bg_input);
  padding: var(--title_comp);
  padding-bottom: 2rem;
  margin-bottom: 1.5rem;
  align-self: flex-start;
  width: 100%;
}

.represent-img {
  width: 16rem;
  height: 16rem;
  margin-right: 4rem;
  box-shadow: 0 0.4rem 0.8rem rgb(0 0 0 / 20%);
}

.represent-img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.img-singers {
  position: relative;
  display: table;
  clear: both;
  margin-right: 5px;
}

.img-singer {
  position: relative;
  width: 24px;
  height: 24px;
}

.img-singer img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 1);
}

.img-singer:nth-child(1) {
  z-index: 10;
}

.img-singer:nth-child(2) {
  left: -6px;
  z-index: 9;
}

.img-singer:nth-child(3) {
  left: -12px;
  z-index: 8;
}

.img-singer:nth-child(4) {
  left: -18px;
  z-index: 7;
}

.img-singer:nth-child(5) {
  left: -24px;
  z-index: 6;
}

.time-release {
  color: var(--cl_icon);
}

.time-release i {
  margin-right: 4px;
}

.singer-release {
  font-size: 1.3rem;
}

.singer-release::after {
  content: ',';
  padding-right: 4px;
}

.singer-release:last-child::after {
  content: '';
}

.icon-card {
  color: var(--cl_text);
  font-size: 1.8rem;
  margin-left: 5px;
}

.list-new-release {
  align-items: flex-end;
  justify-self: center;
  width: 75%;
  position: relative;
}

.card-new-release {
  width: 8rem;
  height: 8rem;
  margin-top: 1rem;
  color: #33da27;
}

.arrow-release {
  display: block;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  border-top: 13px solid rgba(244, 246, 248, 0.05);
  border-bottom: 13px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  transition: left .25s ease-in-out;
}

/* REALTIME */
.realtime-container {
  margin: var(--title_comp);
}

.wrapper-charts {
  position: relative;
  border-radius: 4px;
  height: 528px;
  min-width: 600px;
  z-index: 10;
  border-radius: 4px;
}

.bg-image-chart {
  position: absolute;
  inset: 0;
  max-width: 100%;
  z-index: -1;
  border-radius: inherit;
}

.bg-first-chart {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #740091, #2d1a4c);
  border-radius: 4px;
}

.bg-second-chart {
  position: absolute;
  /* z-index: 1; */
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}

.icon-play-chart {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background: transparent;
}

.icon-play-chart:hover {
  background: var(--cl_border);
}

.charts-realtime {
  position: relative;
  z-index: 10;
  /* padding: 0 3rem; */
}

/* .recharts-surface {
  width: 800;
} */

.heading-chart {
  position: relative;
  z-index: 10;
  color: white;
  padding: 1rem 2rem;
}

.heading-chart i {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: white;
  color: black;
  font-size: 1rem;
}

.date-chart {
  margin-left: 1rem;
  color: var(--cl_icon);
}

.card-realtime {
  position: relative;
  padding: .5rem 2rem;
  margin: 2px 2rem;
  background: var(--bg_input);
  border-radius: 4px;
  color: var(--cl_icon);
}

.bg-card-chart {
  position: absolute;
  inset: 0;
}

.bg-card-chart:hover {
  background: var(--cl_border);
}

.item-card-chart {
  width: 35%;
  color: var(--cl_text);
}

.item-card-chart img {
  width: 3rem;
  height: 3rem;
  border-radius: 4px;
  margin: 0 1rem;
}

.singers-chart {
  width: 35%;
}

.icon-more-chart {
  width: 15%;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background: transparent;
  z-index: 10;
}

.icon-more-chart:hover {
  background: var(--cl_border);
}

.btn-chart {
  border-radius: 4px;
  border: 1px solid var(--cl_border);
  padding: .8rem 3rem;
  color: var(--cl_icon);
  z-index: 10;
  position: relative;
  background: transparent;
  align-self: center;
  margin: auto;
  margin-top: 1.5rem;
}

.btn-chart:hover {
  border: 1px solid var(--cl_hover);
  color: var(--cl_hover);
}

/* RANK TABLE */
.container-rank {
  padding: var(--title_comp);
}

.card-rank {
  width: 31%;
  padding-bottom: 3rem;
  background: var(--bg_input);
  position: relative;
}

.header-rank {
  width: 100%;
  height: 160px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.header-rank span {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  width: 100%;
  margin: auto;
  padding-top: 3rem;
}

.wrapper-img-rank {
  width: 8rem;
  height: 8rem;
  border-radius: 4px;
  position: absolute;
  left: 2.5rem;
  bottom: -1.5rem;
  cursor: pointer;
  z-index: 10;
}

.wrapper-img-rank img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.wrapper-img-rank:nth-child(2) {
  left: 6.5rem;
  z-index: 9;
}

.wrapper-img-rank:nth-child(2):hover {
  z-index: 10;
}

.wrapper-img-rank:nth-child(3) {
  left: auto;
  right: 2.5rem;
  z-index: 8;
}

.wrapper-img-rank:nth-child(3):hover {
  z-index: 10;
}

.wrapper-img-rank:hover .bg-dark {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  inset: 0;
  z-index: 10;
  border-radius: inherit;
}

.wrapper-img-rank:hover .icon-play {
  font-size: 1rem;
  padding: 5px 7px;
  display: block !important;
}

.number-rank {
  position: absolute;
  top: 192px;
  right: 33px;
  font-size: 56px;
  font-weight: 700;
  color: rgba(244, 246, 248, 0.05);
  z-index: -1;
}

/* VIDEO HOT */
.wrapper-video {
  flex-wrap: wrap;
}

.wrapper-video .wrapper-card-video {
  width: 23.5%;
  height: 16rem;
}

.wrapper-video .wrapper-card-video:nth-child(1),
.wrapper-card-video:nth-child(2) {
  width: 49%;
  height: max-content;
  margin-bottom: 1rem;
}

.card-video {
  width: 100%;
  height: 70%;
}

/* SONG */
.wrapper-card-song {
  flex-wrap: wrap;
}

.item-card-song {
  width: 49%;
  margin-bottom: 5px;
  background: var(--bg_input);
  border-radius: 4px;
  padding: 6px 8px;
}

.item-card-song:hover {
  background: var(--cl_border);
}

.item-card-song img {
  width: 5.5rem;
  border-radius: 4px;
}

.symbol-card {
  color: var(--cl_icon);
  font-size: 1.2rem;
  align-items: flex-end;
}


.item-card-song:hover .symbol-card {
  display: none;
}

.icon-more-song {
  display: none !important;
}

.item-card-song:hover .icon-more-song {
  display: flex !important;
  margin-right: 1rem;
  font-size: 2rem;
}

.options-song {
  position: absolute;
  left: calc(100% - 1.5rem);
  top: 0;
  background: rgb(24, 34, 45);
  width: max-content;
  border-radius: 4px;
}

.symbol-detail {
  margin: 4px 4px;
}

.symbol-card .fa-crown {
  color: yellow;
  font-size: 1.4rem;
}

.fa-headphones {
  font-size: 1.1rem;
  margin-right: 5px;
}

/* HOT TOPIC */
.wrapper-topic {
  flex-wrap: wrap;
}

.wrapper-topic .item-card-topic {
  width: 23%;
  border-radius: 4px;
  border: 1px solid var(--cl_border);
}

/* NEW SONG PAGE */
.default-tabs {
  padding: 3rem 7rem 0 7rem;
  border-bottom: 1px solid var(--cl_border);
  margin-bottom: 1rem;
}

.tab {
  width: 10rem;
  text-align: center;
  padding: 0 0 1rem 0;
  cursor: pointer;
  font-weight: bold;
}

.active-tab {
  border-bottom: 2px solid var(--cl_hover);
}

.tab:hover {
  border-bottom: 2px solid var(--cl_hover);
}

.tabs-inside {
  padding: var(--title_comp);
  padding-top: 1rem;
  margin-bottom: 3rem;
}

.tab-inside {
  margin: 0 .8rem;
  font-size: 1.3rem;
}

.tab-inside:hover {
  color: var(--cl_hover);
}

.card-detail {
  margin: 1rem 0;
  width: 100%;
  height: 12.5rem;
  border: 1px solid var(--cl_border)
}

/* PAGINATIONS */
.pagination {
  border-radius: 20px;
  border: 1px solid var(--cl_blur);
  margin: 2rem 0 8rem 0;
  padding: .8rem 1rem;
  width: max-content;
}

.page-number {
  color: var(--cl_icon);
  margin: 0 .8rem;
  padding: 1rem;
  cursor: pointer;
}

.current-page {
  color: var(--cl_hover);
  font-size: 1.5rem;
}

.page-number:hover {
  color: var(--cl_hover);
}

.pagination i {
  color: var(--cl_icon);
}

.pagination .fa-chevron-left {
  border-right: 2px solid var(--cl_border);
  padding-right: 1rem;
}

.pagination .fa-chevron-right {
  border-left: 2px solid var(--cl_border);
  padding-left: 1rem;
}

/* ARTIST */
.header-artist {
  padding: var(--title_comp);
  background: var(--bg_input);
  padding-bottom: 3rem;
}

.header-artist .heading h2 {
  margin-right: 3rem;
}

.header-artist .heading span {
  color: var(--cl_icon);
}

.content-artist {
  margin-top: 3rem;
  font-size: 1.5rem;
}

.content-artist img {
  border-radius: 4px;
  width: 20rem;
  height: 20rem;
  margin-right: 3rem;
  cursor: pointer;
}

.wrapper-artist {
  height: 20rem;
  flex-wrap: wrap;
}

.wrapper-artist div {
  padding: .8rem 2rem;
  border-radius: 4px;
}

.wrapper-artist div:hover {
  background: var(--cl_border);
}

.wrapper-artist span:nth-child(1) {
  color: var(--cl_icon);
  margin-right: 1rem;
}

.option-artist {
  position: relative;
}

.option-artist a {
  color: var(--cl_text);
  font-size: 1.3rem;
  margin: 0 1rem;
}


.option-artist a:hover {
  color: var(--cl_hover);
}

.option-artist select {
  position: absolute;
  right: 5rem;
}

.wrapper-artists {
  flex-wrap: wrap;
  padding: 5rem 3.2rem 0 3.2rem;
}

.wrapper-artists>div {
  width: 23%;
  margin: 1rem 0;
  text-align: center;
}

.wrapper-artists>div>a {
  color: var(--cl_text);
  margin: 1rem;
}

.wrapper-artists>div>a:hover {
  color: var(--cl_hover);
}

.wrapper-artists>div>img {
  border-radius: 50%;
  width: 100%;
  cursor: pointer;
}

/* TOPIC PAGE */
.wrapper-topic {
  padding: 0 2.2rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.topic-item {
  margin: 1rem;
  border: 1px solid var(--cl_border);
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.topic-item:hover .bg-dark {
  position: absolute;
  inset: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
}

.topic-item:hover img {
  transform: scale(1.1);
}

.topic-item img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: transform 0.4s ease-in-out;
}

.text-topic {
  padding: 1rem 3.2rem;
  margin-top: 1rem;
  color: var(--cl_icon)
}

.text-topic p {
  margin: 0;
}

.text-topic i {
  margin-right: 3px;
}

/* PlaylistDetailPage */
.banner-detail-playlist {
  min-width: 24rem;
  margin: var(--title_comp);
  position: relative;
}

.banner-detail-playlist img {
  width: 100%;
  border-radius: 8px;
}

.first-bg {
  width: 60%;
  height: 6px;
  margin-left: 20%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: rgba(244, 246, 248, 0.05);
}

.second-bg {
  width: 80%;
  height: 6px;
  margin-left: 10%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: rgba(244, 246, 248, 0.1);
}

.content-header-playlist {
  margin-right: 3.2rem;
}

.content-header-playlist span {
  color: var(--cl_icon);
  margin-right: .5rem;
}

.content-header-playlist img {
  border-radius: 50%;
  width: 2.5rem;
  border: 1px solid white;
  margin-right: 1rem;
}

.content-header-playlist p {
  color: var(--cl_icon);
}

.hashtag-playlist {
  margin: 0 2rem 0.5rem 0;
  padding: 4px 12px 5px;
}

.btn-play-all {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 10;
  background: rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 50%;
}

.icon-play-playlist {
  display: flex !important;
  padding: 6px 8px;
  font-size: 1.3rem;
}

.create-by {
  border-radius: 4px;
  background-color: var(--bg_input);
  margin: var(--title_comp);
  padding: 1rem 3rem;
}

.create-by img {
  width: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.create-by span {
  color: var(--cl_hover);
}

.create-by span:nth-child(1) {
  color: var(--cl_icon);
}

.table-head {
  display: grid;
  grid-template-columns: 35% 35% 15% 15%;
  margin-top: 1rem;
  background: var(--bg_input);
  padding: 5px 10px;
  border-radius: 4px;
}


.table-head span:nth-child(4) {
  text-align: center;
}

.table-head span {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
}

.table-body {
  margin-top: 3px;
}

.item-table {
  display: grid;
  grid-template-columns: 35% 35% 15% 15%;
  background: var(--bg_input);
  border-radius: 4px;
  padding: 8px 10px;
  margin-top: 3px;
  color: var(--cl_icon);
}

.item-table:hover {
  background: var(--cl_border);
}

.title-table {
  position: relative;
}

.item-table:hover .icon-more {
  display: block !important;
  color: var(--cl_text) !important;
  font-size: 2rem !important;
  right: 1rem;
  width: 2.3rem;
  height: 2.2rem;
}

.item-table .icon-more:hover {
  background: var(--cl_blur);
  border-radius: 50%;
}

/* COLLECTION PAGE */
.header-collection {
  color: var(--cl_icon);
  padding: 3rem 1.8rem 3rem 1.8rem;
  margin: 0 3.2rem;
  border-bottom: 1px solid var(--cl_border);
}

.header-collection .collection-item {
  max-width: 24%;
}

.header-collection h3 {
  text-transform: uppercase;
  color: var(--cl_text);
  font-size: 1.4rem;
}

.header-collection i {
  font-size: .8rem;
  margin-right: .8rem;
}

.header-collection a {
  font-size: 1.5rem;
}

.wrapper-collection {
  padding: var(--title_comp);
  margin-bottom: 3rem;
}

.wrapper-collection h2 {
  font-size: 1.8rem;
}

.collections {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.more-collection {
  background: var(--cl_primary);
  border-radius: 4px;
  position: absolute;
  top: 90%;
  z-index: 10;
  padding: 1.5rem 2rem;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  width: 55rem;
  column-gap: 2.66%;
}

.more-collection>div {
  margin: .3rem 1.5rem .3rem 0;
}

.scene-collection {
  left: 30%;
}

.orther-collection {
  right: 10%;
}

/* CAN YOU LIKE */
.can-you-like {
  padding: var(--title_comp);
  margin-bottom: 5rem;
}

.can-you-like h2 {
  font-size: 2.5rem;
}

.card-primary {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  column-gap: 2.66%;
  row-gap: 2.66%;
}

.card-item-primary {
  width: 100%;
}

/* RankHundredPage */
.banner-rank {
  padding: 1.5rem 3.2rem;
  background: #000;
}

.button-rank {
  margin: 1rem 0;
  background: transparent;
  border: 1px solid var(--cl_border);
  border-radius: 20px;
  color: var(--cl_icon);
  padding: .5rem 0;
  width: 17rem;
  font-size: 1.5rem;
  margin-right: 5rem;
}

.button-rank:hover {
  border: 1px solid var(--cl_hover);
  color: var(--cl_hover);
}

.wrapper-item-rank {
  margin: 0 3.2rem 3px 3.2rem;
  position: relative;
}

.wrapper-item-rank>span:nth-child(1) {
  border-radius: 50%;
  width: 3.4rem;
  height: 3.2rem;
  color: var(--cl_icon);
  background: var(--bg_input);
}

.item-rank {
  background: var(--bg_input);
  padding: 4px 1.5rem;
  width: 100%;
  margin-left: 1rem;
  border-radius: 4px;
  overflow: hidden;
}

.item-rank:hover {
  background: var(--cl_border);
}

.item-rank img {
  width: 4rem;
  border-radius: 4px;
  border: 1px solid var(--cl_icon);
  margin-right: 1.5rem;
}

.item-rank:hover .icon-more,
.icon-more-rank {
  display: block !important;
  font-size: 4.5rem !important;
  color: var(--cl_icon) !important;
  right: 5rem;
  top: 8px;
  padding: 1rem;
}

.item-rank .icon-more:hover {
  border-radius: 50%;
  background: var(--cl_border);
}

.item-rank .icon-more-rank {
  display: block !important;
}

/* Chart Rank */
.header-chart-rank {
  padding: var(--title_comp);
}

.time-line {
  border: 1px solid var(--cl_border);
  border-radius: 20px;
  padding: 4px 6px;
  width: 15rem;
  color: var(--cl_icon);
  margin-left: 2rem;
  font-size: 1.3rem;
}

.header-chart-rank a {
  color: var(--cl_text);
}

.header-chart-rank a:hover {
  color: var(--cl_hover);
  cursor: pointer;
}

.header-chart-rank .line {
  color: var(--cl_icon);
  position: relative;
  top: 0px;
  margin: 0 1.3rem;
}

.banner-chart {
  padding: 3rem 3.2rem;
  background: var(--bg_input);
}

.flag {
  min-width: 160px;
  width: 160px;
  height: 160px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  margin-right: 4rem;
}

.flag span {
  position: absolute;
  top: -1rem;
  width: 48px;
  height: 22px;
  line-height: 22px;
  border-radius: 0 4px 0 4px;
  background-color: #F44336;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.flag img {
  position: absolute;
  inset: 0;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.content-banner-chart {
  color: var(--cl_icon);
  border-bottom: 1px solid var(--cl_border);
  padding: 1.5rem 0;
}

.content-banner-chart>span>span {
  color: var(--cl_text);
}

.content-banner-chart>div>a {
  position: absolute;
  border-radius: 50%;
}

.content-banner-chart a img {
  width: 2.5rem;
  border: 1px solid white;
  border-radius: inherit;
}

.content-banner-chart a:nth-child(2) {
  left: 2rem;
}

.content-rank-chart {
  padding: var(--title_comp);
}

.card-item-chart {
  margin: 0;
  margin-bottom: 4px;
}

.options-song-rank {
  left: calc(100% - 4.5rem);
}

.content-hidden-rank {
  height: 0;
  transition: height 0.3s linear;
}

.arrow-rank {
  transition: transform 0.3s linear;
}

.active-card .arrow-rank {
  transform: rotate(180deg);
}

.active-card .content-hidden-rank {
  height: 6.5rem;
}

/* ICON GENERAL */
.icon-general {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--cl_icon);
  font-size: 1.5rem;
  width: 4rem;
  height: 4rem;
  position: relative;
}

.icon-general:hover {
  background: var(--cl_border);
  border-radius: 50%;
}

.icon-general .hidden-content-main {
  display: none;
}

.icon-general:hover .hidden-content-main {
  display: flex;
  color: white;
}

/* HIDDEN CONTENT */
.hidden-content {
  position: absolute;
  top: 110%;
  background: rgba(70, 69, 69, 0.807);
  width: max-content;
  padding: 3px 8px;
  border-radius: 4px;
}

.hidden-content-main {
  position: absolute;
  bottom: 140%;
  right: 50%;
  transform: translateX(50%);
  background: var(--cl_hover);
  width: max-content;
  padding: 3px 8px;
  border-radius: 4px;
}

.hidden-content-main::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-top: 8px solid #2DAAED;
  border-left: 8px solid transparent;
  border-bottom-width: 0;
  border-right: 8px solid transparent;
}

@keyframes scaleBullet {
  from {
    width: 1rem;
  }

  to {
    width: 1.6rem;
  }
}

@keyframes scaleBorder {
  from {
    height: 10%;
  }

  to {
    height: 100%;
  }
}

@keyframes noneScale {
  from {
    height: 100%;
  }

  to {
    height: 0%;
  }
}


@media screen and (max-width: 1260px) {
  .container-subbar {
    transform: translateX(100%);
    transition: transform .3s linear;
    width: 32rem;
    background: rgba(24, 34, 45, 1);
  }

  .subbar-mini {
    display: block;
    position: fixed;
    z-index: 10;
    bottom: 2rem;
    right: 2rem;
    background: var(--cl_primary);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
    width: 16rem;
    border: 1px solid var(--cl_hover);
  }

  .title-minibar {
    padding: 1rem;
  }

  .icon-group-minibar {
    background: var(--bg_input);
  }

  .icon-minibar {
    font-size: 2.2rem !important;
    color: var(--cl_icon);
    margin: 5px;
    cursor: pointer;
  }

  .icon-minibar:hover {
    color: var(--cl_hover);
  }

  .line-minibar {
    border: 1px solid var(--cl_border);
    height: 2rem;
  }

  /* BANNERHOME */
  .swiper-banner {
    height: calc(calc(100vw - (var(--width_mainbar))) * 2 / 5);
  }

  .charts-realtime {
    width: 572px !important;
  }

  .recharts-surface {
    width: 572px;
    font-size: 1.2rem;
    /* margin: 0 1rem; */
  }

  .list-new-release {
    width: 85%;
  }
}