@import './assets/fonts/font.css';

html {
  font-size: 10px;
  --width_bar: 20rem;
  --cl_primary: rgba(24, 34, 45, 1);
  --cl_text: rgba(244, 246, 248, 0.88);
  --cl_hover: #2DAAED;
}

body {
  margin: 0;
  font-family: 'Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--cl_primary);
  color: var(--cl_text);
  font-size: 13px;
  user-select: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}