@import './assets/fonts/font.css';

html {
  font-size: 10px;
  --width_mainbar: 20rem;
  --width_subbar: 32rem;
  --cl_primary: rgba(24, 34, 45, 1);
  --cl_body: rgba(244, 246, 248, 0.02);
  --cl_text: rgba(244, 246, 248, 0.88);
  --cl_hover: #2DAAED;
  --cl_blur: rgba(244, 246, 248, 0.2);
  --bg_input: rgba(244, 246, 248, 0.02);
  --cl_border: rgba(244, 246, 248, 0.05);
  --cl_icon: rgba(244, 246, 248, 0.5);
  --title_comp: 2rem 3.2rem 0 3.2rem;
}

body {
  margin: 0;
  font-family: 'Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--cl_primary);
  color: var(--cl_text);
  font-size: 14px;
  user-select: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h2 {
  margin: 1rem 0;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

.container-page {
  margin-left: var(--width_mainbar);
  margin-right: var(--width_subbar);
  background: var(--cl_body);
}

@media screen and (max-width: 1260px) {
  html {
    --width_subbar: 0;
  }
}